/* RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

* {
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: #E43170;
    margin: 40px auto;
}

img {
    height: 80px;
    float: left;
    padding-right: 10px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
}

.name {
    color: white;
    font-weight: bold;
}

.role {
    color: white;
    padding: 10px;
}

.link {
    color: dodgerblue;
}

.cent-text {
    text-align: center;
    margin: 50px auto;
}

/* LAYOUT  */

.columns > * {
    float: left;
    width: calc((100% / 3) - 20px);
}


.single-col {
    background-color: rgb(40, 40, 40);
    margin-bottom: 20px;
}

.middle-col {
    margin: 0 10px auto;
}
